body{
    background-color: #333333;
    color: #FFFFFF;
    font-family: 'Roboto', Arial,sans-serif;
    margin-top: 24px;
    padding: auto;
   width: 100%;
  
}
section{
  width: 100%;
    overflow-x: hidden; /*حذف اسکرول افقی*/
        
    overflow-y: auto; /*اسکرول عمودی*/
    left: 10%;

}
h3{font-size: 12px;}
p{font-size: 9px;}

i{
  
  font-size: 3rem;
    position: relative;
    text-align: center;
  
}
.video1{
 position: relative;
  width: 80%;
  height: 500px;
left: 10%;
  




}
  .box1 {
  position: relative;
   box-sizing: border-box;
    min-width: 12rem;
    min-height: 12rem;
    
    padding: 1rem;
   
    
    border: 1px solid #262626;
    background-color:#262626 ;
    border-radius: 10px;
    
    
    
  }
  .rounded-circle{
    max-width: 55%;
  
    height: auto;
    margin-top: 3rem;
    margin-left: 1.2rem;
  
  }
  .line-connector {
    position: relative;
    width: 14rem;
    top: 50%;
    right: 100%;
    height: 2px;
    
    
   
    background-color: #a09191;
   
  }
  .box2 {
    position: relative;
    box-sizing: border-box;
     min-width: 9rem;
     min-height: 12rem;
     
     padding: 1rem;
    
     
      border: 1px solid #666666;
    background-color: #666666; 
      border-radius: 10px;
  }
  .connector-vertical {
    width: 3px;
    height: 50px;
    background-color: #a09191;
    left: 55%;
    position: relative;
    top:10%;
  
  }
  form {
    position: relative;
    max-width: 90%;
    left:20px;
   top:10px;
  }

  hr {
    border-color:white;
    width: 100%;
    position: relative;
    margin-bottom: 50px;
}
.breakline{
  width: 70%;
  display: inline-block;
  height: 2px;
  margin: 10px;
  
 
  background-color: #a09191;
 
}






   
 
  